<br />

<center>
  <%= link_to 'Editar', edit_tema_path(@tema) %> |
  <%= link_to 'Voltar', temas_path %>

  <p id="notice"><%= notice %></p>

<p>
  <%= image_tag @tema.imagem.url(:thumb) %>
</p>

<p>
  <b><%= @tema.titulo %></b>
</p>

	<p>
	  <b>Filtros deste Tema:</b> <br />
          <% if @tema.filtros.count > 0 %>
            <% @tema.filtros.each do |filtro| %>
              <%= link_to filtro.titulo, filtro %><br />
	    <% end %>
            <br />
            <b><%= link_to 'Adicione/Modifique um Novo Filtro', filtros_path %> a este Tema.</b>

          <% else %>
            Nenhum Filtro Encontrado. Adicione <%= link_to 'um novo Filtro', new_filtro_path %>
          <% end %>
	</p>
</center>
