<br />

<center>
  <%= link_to 'Editar', edit_tema_path(@tema) %> |
  <%= link_to 'Voltar', temas_path %>

  <p id="notice"><%= notice %></p>

<p>
  <%= image_tag @tema.imagem.url(:thumb) %>
</p>

<p>
  <b><%= @tema.titulo %></b>
</p>

	<p>
	  <b>Indicadors deste Tema:</b> <br />
          <% if @tema.indicadors.count > 0 %>
            <% @tema.indicadors.each do |indicador| %>
              <%= link_to Pnad::OBJETIVO.index(indicador.objetivo), indicador %><br />
	    <% end %>
            <br />
            <b><%= link_to 'Adicione/Modifique um Novo Indicador', indicadors_path %> a este Tema.</b>

          <% else %>
            Nenhum Indicador Encontrado. Adicione <%= link_to 'um novo Indicador', new_indicador_path %>
          <% end %>
	</p>
</center>
