<center>
  <p id="notice"><%= notice %></p>
</center>

<p>
  <%= image_tag @tema.imagem.url(:thumb) %>
</p>

<p>
  <b>Titulo:</b>
  <%= @tema.titulo %>
</p>

<% if @tema.filtros.count > 0 %>
	<p>
	  <b>Filtros:</b> <br />
	  <% @tema.filtros.each do |filtro| %>
	  <%= link_to filtro.titulo, filtro %><br />
	  <% end %>
	</p>
<% end %>

<center>
  <%= link_to 'Editar', edit_tema_path(@tema) %> |
  <%= link_to 'Voltar', temas_path %>
</center>
