<br />
<% if ! dados.empty? %>
  <% dados.each do |value| %>
    <%= pie_chart    value[:data], value[:config] if value[:type] == 'pie'    %>
    <%= bar_chart    value[:data], value[:config] if value[:type] == 'bar'    %>
    <%= line_chart   value[:data], value[:config] if value[:type] == 'line'   %>
    <%= column_chart value[:data], value[:config] if value[:type] == 'column' %>
    <%= area_chart   value[:data], value[:config] if value[:type] == 'area'   %>
  <% end %>

  <%= social_share_button_tag(dados[0][:titulo], :url => short_url(dados[0][:url])) %>

  <br/>
<% else %>
  <br /><br />
  <center>
    <h3>Nenhum Dado Encontrado.</h3>
  </center>
<% end %>
