<br/>

<div class="dados-options">
  <%= link_to "Agenda Juventude", agendas_path %> |
  <%= link_to "Administrar Temas",   temas_path %> |
  <%= link_to "Administrar Indicadors", indicadors_path %>
</div>

<br />

<center>
  <%#= collection_select(nil, :id, @indicadors, :id, :titulo, {:prompt => "Selecione o Indicador"}, {:id => 'select_indicadors'}) %>
  <%#= collection_select(nil, :id, @temas, :id, :titulo, {:prompt => "Selecione o Tema"}, {:id => 'select_temas'}) %>
  <br /><br />
    <% if ! @temas.empty? %>
      <table class="table-temas">
        <% @temas.each_slice(3) do |tema_slice| %>
          <tr class="tr-temas">
            <% tema_slice.each do |tema| %>
              <!-- <td><%= link_to image_tag(tema.imagem.url(:thumb)), '#', :class => 'link_tema', :'data-href' => tema.slug %> <br /><b><%= tema.titulo%></b></td> -->
              <td class="td-temas"><%= link_to image_tag(tema.imagem.url(:thumb)), pnads_path + "?tema=#{tema.slug}", :class => 'link_tema', :'data-href' => tema.slug %> <br /><b><%= tema.titulo%></b></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% else %>
        <br />
        <h3>Nenhum Tema Encontrado.</h3>
    <% end %>

    <div id="dados"></div>
</center>
