<br />
<% if ! pnads.empty? %>
  <% pnads.each do |value| %>
    <%= pie_chart    value[:data], value[:config] if value[:type] == 'pie'    %>
    <%= bar_chart    value[:data], value[:config] if value[:type] == 'bar'    %>
    <%= line_chart   value[:data], value[:config] if value[:type] == 'line'   %>
    <%= column_chart value[:data], value[:config] if value[:type] == 'column' %>
    <%= area_chart   value[:data], value[:config] if value[:type] == 'area'   %>
  <% end %>
<% else %>
  <br /><br />
  <center>
    <h3>Nenhum Pnad Encontrado.</h3>
  </center>
<% end %>
