<br/>

<div class="dados-options">
  <%= link_to "Página Principal", dados_path %>
  <!-- <%= link_to "Agenda Juventude", agendas_path %> -->
</div>

<br /><br />

<% if params[:tema] %>
<div class="pnad">
  <div id="pnad-tema">
    <%= image_tag @objetivo.imagem(:thumb), :title => @objetivo.titulo %>
  </div>

  <div id="pnad-opcoes">
    <br/><br/>
    <%= select(nil, :id, @objetivo.indicadors.collect { |v| [ Pnad::OBJETIVO.index(v.objetivo).truncate(100), v.objetivo ] if v.fonte == 0 }, { include_blank: "Indicadores" },
                                                                                                                              { :id => 'select_pnads_objetivo', 
                                                                                                                                :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Pnad::TIPO_GRAFICO.map { |v| [ v[0], v[1] ] }, {},
                                                                        { :id => 'select_pnads_tipo_grafico', 
                                                                          :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Pnad::FXID.map { |v| [ v[0], v[1] ] }, {},
                                                                { :id => 'select_pnads_fxid', 
                                                                  :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Pnad::UNIV.map { |v| [ v[0], v[1] ] }, { :selected=> 0 },
                                                                { :multiple => true, :id => 'select_pnads_univ',
                                                                  :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Pnad::AREA.map { |v| [ v[0], v[1] ] }, {},
                                                                { :id => 'select_pnads_area', 
                                                                  :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Pnad::SEXO.map { |v| [ v[0], v[1] ] }, {},
                                                                { :id => 'select_pnads_sexo', 
                                                                  :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Pnad::COR.map { |v| [ v[0], v[1] ] }, {},
                                                               { :id => 'select_pnads_cor', 
                                                                 :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>
  </div>
</div>

<center><div id="dados"></div></center>

<% else %>
    <br/><br/><center><h2><%= link_to "Escolha um Tema", root_path %></h2></center>
<% end %>
