<br/>
<center>
<% if params[:tema] %>

  <div id="tema">
    <%= image_tag @objetivo.imagem(:thumb) %>
  </div>

  <br/><br/>
    <%= select(nil, :id, @objetivo.filtros.collect { |v| [ Pnad::OBJETIVO.index(v.objetivo), v.objetivo ] }, { include_blank: "Selecione o Objetivo" },
                                                                                                             { :id => 'select_pnads_objetivo', 
                                                                                                               :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Pnad::FXID.map { |v| [ v[0], v[1] ] }, {},
                                                                { :id => 'select_pnads_fxid', 
                                                                  :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Pnad::UNIV.map { |v| [ v[0], v[1] ] }, { :selected=> 0 },
                                                                { :multiple => true, :id => 'select_pnads_univ',
                                                                  :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Pnad::AREA.map { |v| [ v[0], v[1] ] }, {},
                                                                { :id => 'select_pnads_area', 
                                                                  :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Pnad::SEXO.map { |v| [ v[0], v[1] ] }, {},
                                                                { :id => 'select_pnads_sexo', 
                                                                  :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Pnad::COR.map { |v| [ v[0], v[1] ] }, {},
                                                               { :id => 'select_pnads_cor', 
                                                                 :class => 'select_pnads ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>
    <div id="dados"></div>
<% else %>
    <h3> <%= link_to "Escolha um Tema", root_path %> </h3>
<% end %>
</center>
