<br/>

<div class="dados-options">
  <%= link_to "Página Principal", dados_path %>
</div>

<br />

<% if params[:tema] %>
  <div class="agenda">
  <div id="agenda-tema">
      <%= image_tag @indicador.imagem(:thumb), :title => @indicador.titulo, width: '80' %>
  </div>

  <div id="agenda-opcoes">
    <br/><br/>
    <%= select(nil,  :id, @indicador.indicadors.where(fonte: 1).collect { |v| [ Agenda::INDICADOR["#{v.objetivo}"]["Questão"].truncate(100), v.objetivo ] },
                                                                                    { include_blank: "Indicadores" },
                                                                                    { :id => 'select_agendas_indicador', 
                                                                                      :class => 'select_agendas ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Agenda::TIPO_GRAFICO.map { |v| [ v[0], v[1] ] }, {},
                                                                             { :id => 'select_agendas_tipo_grafico', 
                                                                               :class => 'select_agendas ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>
    <%= select(nil, :id, Agenda::FXID.map { |v| [ v[0], v[1] ] }, {},
                                                                     { :id => 'select_agendas_fxid', 
                                                                       :class => 'select_agendas ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Agenda::AREA.map { |v| [ v[0], v[1] ] }, {},
                                                                     { :id => 'select_agendas_area', 
                                                                       :class => 'select_agendas ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Agenda::SEXO.map { |v| [ v[0], v[1] ] }, {},
                                                                     { :id => 'select_agendas_sexo', 
                                                                       :class => 'select_agendas ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Agenda::RENDA.map { |v| [ v[0], v[1] ] }, {},
                                                                    { :id => 'select_agendas_renda', 
                                                                      :class => 'select_agendas ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Agenda::ESCOLARIDADE.map { |v| [ v[0], v[1] ] }, {},
                                                                    { :id => 'select_agendas_escolaridade', 
                                                                      :class => 'select_agendas ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

    <%= select(nil, :id, Agenda::COR.map { |v| [ v[0], v[1] ] }, {},
                                                                    { :id => 'select_agendas_cor', 
                                                                      :class => 'select_agendas ui-multiselect ui-widget ui-state-default ui-corner-all' }) %>

  </div>
</div>

<center><div id="dados"></div></center>

<% else %>   
  <div id="agenda-temas">
    <center>
    <td class="td-fontes"><%= image_tag('participatorio-transparente.png', width: 100) %></td>

    <div class="dados-titulo">Eixos Temáticos da Agenda da Juventude</div>
    <% if ! @temas.empty? %>
      <table class="table-temas">
        <% @temas.each_slice(6) do |tema_slice| %>
          <tr class="tr-temas">
            <% tema_slice.each do |tema| %>
              <!-- <td><%= link_to image_tag(tema.imagem.url(:thumb), :size => '80'), '#', :class => 'link_tema', :'data-href' => tema.slug %> <br /><b><%= tema.titulo%></b></td> -->
              <td class="td-temas"><%= link_to image_tag(tema.imagem.url(:thumb), width: '75'), agendas_path + "?tema=#{tema.slug}", :class => 'link_tema', :'data-href' => tema.slug %> <br /><b><%= tema.titulo%></b></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% else %>
        <br />
        <h3>Nenhum Tema Encontrado.</h3>
    <% end %>
    </center>
  </div>

<% end %>
