<%= form_for(@filtro) do |f| %>
  <% if @filtro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filtro.errors.count, "error") %> prohibited this filtro from being saved:</h2>
      <ul>
      <% @filtro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Objetivo" %><br />
    <%= f.select :objetivo, Pnad::OBJETIVO.map { |value| [ value[0], value[1] ] } %>
  </div>

  <div class="field">
    <%= f.label "Fonte" %><br />
    <%= f.select :fonte, Pnad::FONTE.map { |value| [ value[0], value[1] ] } %>
  </div>

  <% if Tema.first %>
    <div class="field">
      <%= f.label "Escolha os Temas" %><br /><br />
      <table class="table-temas">
        <% Tema.all.each_slice(3) do |tema_slice| -%>
          <tr>
            <% tema_slice.each do |tema| -%>
              <td>
                <%= image_tag tema.imagem.url(:thumb) %>
                <b><%= label_tag :tema_ids, tema.titulo -%></b>
                <%= check_box_tag :tema_ids, tema.id, @filtro.temas.include?(tema), :name => 'filtro[tema_ids][]' -%>
              </td>
            <% end -%>
          </tr>
        <% end -%>
      </table>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>

<% end %>
