<%= form_for(@filtro) do |f| %>
  <% if @filtro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filtro.errors.count, "error") %> prohibited this filtro from being saved:</h2>
      <ul>
      <% @filtro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Título" %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label "Fonte" %><br />
    <%= f.select :fonte, Pnad::FONTE.map { |value| [ value[0], value[1] ] } %>
  </div>
  <div class="field">
    <%= f.label "Tipo Gráfico" %><br />
    <%= f.select :tipo_grafico, Pnad::TIPO_GRAFICO.map { |value| [ value[0], value[1] ] } %>
  </div>
  <div class="field">
    <%= f.label "Faixa Etária" %><br />
    <%= f.select :fxid, Pnad::FXID.map { |value| [ value[0], value[1] ] } %>
  </div>
  <div class="field">
    <%= f.label "Universo" %><br />
    <%= f.select :univ, Pnad::UNIV.map { |value| [ value[0], value[1] ] } %>
  </div>
  <div class="field">
    <%= f.label "Tipo" %><br />
    <%= f.select :tipo, Pnad::TIPO.map { |value| [ value[0], value[1] ] } %>
  </div>
  <div class="field">
    <%= f.label "Área" %><br />
    <%= f.select :area, Pnad::AREA.map { |value| [ value[0], value[1] ] } %>
  </div>
  <div class="field">
    <%= f.label "Sexo" %><br />
    <%= f.select :sexo, Pnad::SEXO.map { |value| [ value[0], value[1] ] } %>
  </div>
  <div class="field">
    <%= f.label "Cor" %><br />
    <%= f.select :cor, Pnad::COR.map { |value| [ value[0], value[1] ] } %>
  </div>
  <div class="field">
    <%= f.label "Grupo" %><br />
    <%= f.select :grupo, Pnad::GRUPO.map { |value| [ value[0], value[1] ] } %>
  </div>
  <div class="field">
    <%= f.label "Objetivo" %><br />
    <%= f.select :objetivo, Pnad::OBJETIVO.map { |value| [ value[0], value[1] ] } %>
  </div>

  <% if Tema.first %>
    <div class="field">
      <%= f.label "Temas" %><br /><br />
      <% Tema.all.each do |tema| -%>
        <div class="tema-box">
          <%= image_tag tema.imagem.url(:thumb) %>
          <b><%= label_tag :tema_ids, tema.titulo -%></b>
          <%= check_box_tag :tema_ids, tema.id, @filtro.temas.include?(tema), :name => 'filtro[tema_ids][]' -%>
        </div>
      <% end -%>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>

<% end %>
