<br/>
<center>
    <%= link_to 'Novo Filtro', new_filtro_path %> |
    <%= link_to 'Administrar Tema', temas_path %> |
    <%= link_to 'Ver Dados', dados_path %>

    <br /><br />
    <% if ! @filtros.empty? %>
        <table class="table-dados">
          <tr id="table-header">
            <th>Objetivo</th>
            <th>Fonte</th>
            <th></th>
            <th></th>
          </tr>

        <% @filtros.each do |filtro| %>
          <tr class="table-<%= cycle('even', 'odd') -%>">
            <td><b><%= link_to Pnad::OBJETIVO.index(filtro.objetivo), filtro %></b></td>
            <td><%= Pnad::FONTE.index(filtro.fonte)%></td>
            <td><%= link_to 'Editar', edit_filtro_path(filtro) %></td>
            <td><%= link_to 'Apagar', filtro, method: :delete, data: { confirm: 'Você tem Certeza?' } %></td>
          </tr>
        <% end %>
        </table>
    <% else %>
        <br />
        <h3>Nenhum Filtro Encontrado.</h3>
    <% end %>
</center>
