<p id="notice"><%= notice %></p>

<% @dados.each do |value| %>
    <%= pie_chart  value[:data], value[:config] if value[:type] == 'pie' %>
    <%= line_chart value[:data], value[:config] if value[:type] == 'line' %>
<% end %>


<p>
  <b>Titulo:</b>
  <%= @filtro.titulo %>
</p>

<p>
  <b>Tipo grafico:</b>
  <%= @filtro.tipo_grafico %>
</p>

<p>
  <b>Fxid:</b>
  <%= @filtro.fxid %>
</p>

<p>
  <b>Univ:</b>
  <%= @filtro.univ %>
</p>

<p>
  <b>Tipo:</b>
  <%= @filtro.tipo %>
</p>

<p>
  <b>Area:</b>
  <%= @filtro.area %>
</p>

<p>
  <b>Sexo:</b>
  <%= @filtro.sexo %>
</p>

<p>
  <b>Cor:</b>
  <%= @filtro.cor %>
</p>

<p>
  <b>Grupo:</b>
  <%= @filtro.grupo %>
</p>

<p>
  <b>Objetivo:</b>
  <%= @filtro.objetivo %>
</p>


<%= link_to 'Edit', edit_filtro_path(@filtro) %> |
<%= link_to 'Back', filtros_path %>
