<br />
<center>
  <%= link_to 'Editar', edit_filtro_path(@filtro) %> |
  <%= link_to 'Voltar', filtros_path %>

  <p id="notice"><%= notice %></p>
</center>

<p>
  <b>Objetivo:</b>
  <%= Pnad::OBJETIVO.index(@filtro.objetivo) %>
</p>

<p>
  <b>Fonte:</b>
  <%= Pnad::FONTE.index(@filtro.fonte) %>
</p>

<% if ! @filtro.temas.empty? %>
<center>
  <p>
    <b>Temas que este Filtro faz Parte:</b>
      <table class="table-temas">
        <tr>
          <% @filtro.temas.each do |tema| -%>
            <td>
            <%= link_to (image_tag tema.imagem.url(:thumb)), tema %>
            <b><%= label_tag :tema_ids, tema.titulo -%></b>
            </td>
          <% end -%>
        </tr>
      </table>
  </p>
</center>
<% end %>
